body {
  padding-top: 5rem;
  color: rgb(255, 111, 118);
}
h1 {
  text-align: center;
  font-size: 60px;
}

#navbarNavAltMarkup {
  font-size: 40px;
}

#carouselExampleIndicators {
  width: 600px;
}

.carousel {
  width: 300px; margin: 0 auto;
}

.navbar {
  background-color: rgb(255, 111, 118);
}
